<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056741315126-qr8geqkc90u8bk5sascj76mjtgmf3br3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056741315126-qr8geqkc90u8bk5sascj76mjtgmf3br3</string>
	<key>API_KEY</key>
	<string>AIzaSyCa7BWIGHjtv_QLWbWxdoVPf66RFcHaOvI</string>
	<key>GCM_SENDER_ID</key>
	<string>1056741315126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shamo</string>
	<key>PROJECT_ID</key>
	<string>bwashamo-f98ff</string>
	<key>STORAGE_BUCKET</key>
	<string>bwashamo-f98ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056741315126:ios:8911593357ab53c952be97</string>
</dict>
</plist>